<div class="w3-bar w3-border w3-teal">
  <img src="../assets/ap.png" alt="ap">
  <div class="w3-right">
  <button mat-raised-button color="accent" (click)="logout()">Logout</button>
  <a href="https://es-es.facebook.com/javier.cols/" class="w3-bar-item w3-button"><i class="fa fa-facebook-official w3-hover-opacity w3-xlarge"></i></a>
  <a href="https://www.instagram.com/javiercols/" class="w3-bar-item w3-button"><i class="fa fa-instagram w3-hover-opacity w3-xlarge"></i></a>
  <a href="https://ar.linkedin.com/in/javier-cols-8a179311" class="w3-bar-item w3-button"><i class="fa fa-linkedin w3-hover-opacity w3-xlarge"></i></a>
</div>
</div>
<div class="w3-third">
  <div class="w3-white w3-text-grey w3-card-4">
<app-about></app-about>
<app-skills></app-skills>
<app-idiomas></app-idiomas>
</div>
</div>
<div class="w3-twothird">
  <app-trabajo></app-trabajo>
  <app-educacion></app-educacion>
  <app-proyecto></app-proyecto>
</div>

