<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Educacion<a class="w3-right w3-circle w3-btn w3-tiny w3-pink logged" routerLink="../educacion/new">+</a></h2>
  <div *ngFor="let Educacion of Educacions">
  <div class="w3-container">
    <h5 class="w3-opacity"><b>{{ Educacion.escuela }}</b></h5><img src="{{ Educacion.logo }}" width="50" height="50" alt="Logo">
    <a (click)="delete(Educacion.id)" class="w3-right logged"><i class="fa fa-trash"></i>
    </a><a [routerLink]="['../educacion/edit/', Educacion.id]" class="w3-right logged"><i class="fa fa-pencil"></i></a>

    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ Educacion.periodo }}</h6>
    <p>{{ Educacion.titulo }}</p>
    <hr>
  </div>
  </div>
</div>
