<div class="container">
  <h3>Editar Habilidades</h3>
  <form  class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Habilidad</mat-label>
      <input matInput type="text" name="skill" [(ngModel)] = "fruitForm.skill" class="form-control" [errorStateMatcher]="matcher" [formControl]="skillFormControl" maxlength="40" />
          <mat-error *ngIf="skillFormControl.hasError('minlength') && !skillFormControl.hasError('required')">
        Minimo 4 letras
      </mat-error>
      <mat-error *ngIf="skillFormControl.hasError('required')">
        La habilidad es <strong>obligatoria</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Grado de habilidad</mat-label>
      <input matInput type="number" name="grado" [(ngModel)] = "fruitForm.grado" class="form-control" [errorStateMatcher]="matcher" [formControl]="gradoFormControl" min="1" max="100" maxlength="3"/>
      <mat-error *ngIf="(gradoFormControl.hasError('min') || gradoFormControl.hasError('max')) && !gradoFormControl.hasError('required')">
        El grado debe ser entre 1 y 100
      </mat-error>
      <mat-error *ngIf="gradoFormControl.hasError('required')">
        El grado es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
    <div class="example-button-row">
      <button mat-raised-button (click)="update()">Guardar</button>
    </div>
  </form>
</div>
